In [1]:
import numpy as np
import pandas as pd
train = pd.read_csv("../data/Regression_Supervised_Train.csv")
test = pd.read_csv("../data/Regression_Supervised_Test.csv")

In [2]:
train

,lotid,logerror,transactiondate,aircond,style,basement,numbath,numbedroom,classbuild,qualitybuild,...,numstories,fireplace,buildvalue,parcelvalue,taxyear,landvalue,totaltaxvalue,taxdelinquencyflag,taxdelinquencyyear,mypointer
0,17214744,NaN,NaN,NaN,NaN,NaN,2.0,3,NaN,NaN,...,1.0,NaN,103993.0,142212.0,2015,38219.0,1715.08,NaN,NaN,25711
1,12018724,NaN,NaN,1.0,NaN,NaN,2.0,1,NaN,4.0,...,NaN,NaN,129428.0,301141.0,2015,171713.0,3851.88,NaN,NaN,13268
2,11306699,NaN,NaN,1.0,NaN,NaN,3.0,4,NaN,4.0,...,NaN,NaN,175069.0,235062.0,2015,59993.0,3818.24,Y,11.0,5423
3,11047729,NaN,NaN,1.0,NaN,NaN,2.0,3,NaN,7.0,...,NaN,NaN,162926.0,270543.0,2015,107617.0,3450.67,NaN,NaN,26198
4,17174848,NaN,NaN,NaN,NaN,NaN,3.0,2,NaN,NaN,...,2.0,NaN,180532.0,300886.0,2015,120354.0,3394.26,NaN,NaN,25187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24750,11633053,NaN,NaN,1.0,NaN,NaN,3.0,2,NaN,7.0,...,NaN,NaN,214623.0,786817.0,2016,572194.0,9550.24,NaN,NaN,8421
24751,10751511,NaN,NaN,1.0,NaN,NaN,2.0,2,NaN,7.0,...,NaN,NaN,96981.0,282464.0,2015,185483.0,4086.50,NaN,NaN,29610
24752,10719915,NaN,NaN,NaN,NaN,NaN,2.0,4,NaN,6.0,...,NaN,NaN,102310.0,419389.0,2016,317079.0,5259.98,NaN,NaN,17317
24753,11639212,NaN,NaN,1.0,NaN,NaN,5.0,5,NaN,10.0,...,NaN,NaN,693832.0,3437492.0,2015,2743660.0,40656.13,NaN,NaN,6587
24754,17273307,NaN,NaN,NaN,NaN,NaN,2.0,3,NaN,NaN,...,1.0,NaN,42794.0,61103.0,2015,18309.0,2296.28,NaN,NaN,19286

In [1]:
import pandas as pd
data = pd.read_csv("/Users/gnlm/Desktop/ds_projects/freelance/patreon_pledge_data_anonym_example.csv")

In [2]:
data

,billing_group_id,member_id,tier_id,tier_title,date,amount_cents,currency_code,amount_usd,type,payment_status,pledge_payment_status,pledge_relationship_start,campaign_lifetime_support_cents,monthly_tier_price,tier_id_str,monthly_tier_price_usd,implied_billing_cadence,implied_monthly_amount_usd
0,1,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2023-08-14 18:40:55,599,USD,5.990000,pledge_start,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.990000
1,1,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2023-08-14 18:41:01,599,USD,5.990000,subscription,paid,NaN,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.990000
2,2,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2023-08-27 03:46:02,599,USD,5.990000,pledge_delete,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.990000
3,3,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2023-09-26 03:52:39,199,USD,1.990000,pledge_start,NaN,valid,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.990000
4,3,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2023-09-26 03:52:46,199,USD,1.990000,subscription,paid,NaN,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.990000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4,a09c26d4c9b823a249ec824c3198ae2a43f21c9fd026e8...,7073987.0,The Secret Tier,2024-11-27 00:00:00,6250,BRL,11.837121,subscription,paid,NaN,2024-08-26 13:40:39,5441,10.99,7073987.0,10.99,1.0,11.837121
996,5,a09c26d4c9b823a249ec824c3198ae2a43f21c9fd026e8...,7073987.0,The Secret Tier,2024-12-27 00:00:00,6250,BRL,11.837121,subscription,paid,NaN,2024-08-26 13:40:39,5441,10.99,7073987.0,10.99,1.0,11.837121
997,6,a09c26d4c9b823a249ec824c3198ae2a43f21c9fd026e8...,7073987.0,The Secret Tier,2025-01-03 14:37:44,6250,BRL,11.837121,pledge_delete,NaN,valid,2024-08-26 13:40:39,5441,10.99,7073987.0,10.99,1.0,11.837121
998,1,e7bb1512d70b97993505a80701edc2e5a8396ce6e3d583...,7073987.0,The Secret Tier,2023-06-05 02:26:38,1099,USD,10.990000,pledge_start,NaN,valid,2023-06-05 02:26:38,1099,10.99,7073987.0,10.99,1.0,10.990000
999,1,e7bb1512d70b97993505a80701edc2e5a8396ce6e3d583...,7073987.0,The Secret Tier,2023-06-05 02:26:45,1099,USD,10.990000,subscription,paid,NaN,2023-06-05 02:26:38,1099,10.99,7073987.0,10.99,1.0,10.990000

In [3]:
data.columns

Index(['billing_group_id', 'member_id', 'tier_id', 'tier_title', 'date',
       'amount_cents', 'currency_code', 'amount_usd', 'type', 'payment_status',
       'pledge_payment_status', 'pledge_relationship_start',
       'campaign_lifetime_support_cents', 'monthly_tier_price', 'tier_id_str',
       'monthly_tier_price_usd', 'implied_billing_cadence',
       'implied_monthly_amount_usd'],
      dtype='object')

In [8]:
d1 = data.loc[data['member_id'] == "14ec6549677d48b4283b6b6bd12c43832c64a137266ae29476711897b4591360",:].sort_values(by = 'date')

The history saving thread hit an unexpected error (OperationalError('unable to open database file')).History will not be written to the database.

In [11]:
d1.loc[d1['payment_status'] == "paid", "monthly_tier_price"].sum()

np.float64(59.89000000000001)

In [12]:
d1

,billing_group_id,member_id,tier_id,tier_title,date,amount_cents,currency_code,amount_usd,type,payment_status,pledge_payment_status,pledge_relationship_start,campaign_lifetime_support_cents,monthly_tier_price,tier_id_str,monthly_tier_price_usd,implied_billing_cadence,implied_monthly_amount_usd
0,1,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2023-08-14 18:40:55,599,USD,5.99,pledge_start,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
1,1,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2023-08-14 18:41:01,599,USD,5.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
2,2,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2023-08-27 03:46:02,599,USD,5.99,pledge_delete,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
3,3,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2023-09-26 03:52:39,199,USD,1.99,pledge_start,NaN,valid,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.99
4,3,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2023-09-26 03:52:46,199,USD,1.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.99
5,4,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073987.0,The Secret Tier,2023-09-26 05:19:07,1099,USD,10.99,pledge_upgrade,NaN,valid,2023-08-14 18:40:55,5191,10.99,7073987.0,10.99,1.0,10.99
6,4,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073987.0,The Secret Tier,2023-09-26 05:19:14,1099,USD,10.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,10.99,7073987.0,10.99,1.0,10.99
7,5,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2023-10-12 17:57:57,199,USD,1.99,pledge_downgrade,NaN,valid,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.99
8,6,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2023-10-26 00:00:00,199,USD,1.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.99
9,7,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2023-11-26 00:00:00,199,USD,1.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.99
10,8,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2023-12-03 21:48:57,199,USD,1.99,pledge_delete,NaN,valid,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.99
11,9,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-03-24 03:06:47,599,USD,5.99,pledge_start,NaN,declined,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
12,9,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-03-24 03:06:54,599,USD,5.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
13,10,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-04-24 00:00:00,599,USD,5.99,subscription,deleted,NaN,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
14,10,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-04-24 01:47:10,599,USD,5.99,pledge_delete,NaN,declined,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
15,11,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-08-18 22:27:02,599,USD,5.99,pledge_start,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
16,11,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-08-18 22:27:09,599,USD,5.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
17,12,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-09-10 07:44:29,599,USD,5.99,pledge_delete,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
18,13,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-09-24 06:45:22,599,USD,5.99,pledge_start,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
19,13,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-09-24 06:45:28,599,USD,5.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
20,14,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073987.0,The Secret Tier,2024-09-26 08:03:22,1099,USD,10.99,pledge_upgrade,NaN,valid,2023-08-14 18:40:55,5191,10.99,7073987.0,10.99,1.0,10.99
21,14,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073987.0,The Secret Tier,2024-09-26 08:03:28,1099,USD,10.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,10.99,7073987.0,10.99,1.0,10.99
22,15,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2024-10-07 09:23:43,599,USD,5.99,pledge_downgrade,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
23,15,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2024-10-19 23:43:33,199,USD,1.99,pledge_downgrade,NaN,valid,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.99
24,16,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2024-10-25 00:00:00,199,USD,1.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.99
25,17,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,7073980.0,Baby Girl,2024-11-20 08:46:48,199,USD,1.99,pledge_delete,NaN,valid,2023-08-14 18:40:55,5191,1.99,7073980.0,1.99,1.0,1.99
26,18,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2025-04-04 06:59:13,599,USD,5.99,pledge_start,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
27,18,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2025-04-04 06:59:20,599,USD,5.99,subscription,paid,NaN,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99
28,19,14ec6549677d48b4283b6b6bd12c43832c64a137266ae2...,5667410.0,Brat,2025-04-10 22:29:18,599,USD,5.99,pledge_delete,NaN,valid,2023-08-14 18:40:55,5191,5.99,5667410.0,5.99,1.0,5.99

In [ ]:
def oof_target_encode(train, test, col, target, n_splits=5, k=20):
    train_encoded = np.zeros(len(train))
    global_mean = train[target].mean()
    kf = KFold(n_splits=n_splits, shuffle=True, random_state=42)

    for tr_idx, val_idx in kf.split(train):
        tr, val = train.iloc[tr_idx], train.iloc[val_idx]
        stats = tr.groupby(col)[target].agg(['mean', 'count'])
        smooth = (stats['count'] * stats['mean'] + k * global_mean) / (stats['count'] + k)
        train_encoded[val_idx] = val[col].map(smooth).fillna(global_mean)

    test_stats = train.groupby(col)[target].agg(['mean', 'count'])
    smooth = (test_stats['count'] * test_stats['mean'] + k * global_mean) / (test_stats['count'] + k)
    test_encoded = test[col].map(smooth).fillna(global_mean)

    return train_encoded, test_encoded

# train['geo_bin_te'], test['geo_bin_te'] = oof_target_encode(train, test, 'geo_bin', 'log_parcelvalue')